/* For webkit-based browsers like Chrome and Safari */
/* You may need to include similar styles for other browser prefixes like '-moz-scrollbar' for Firefox */

/* Track */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}
